.bmecom-slider-wrapper {
    position: relative;
    overflow: hidden;
}

.bmecom-slider {
    position: relative;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.bmecom-slide {
    width: 100%;
    height: 100%;
}


.bmecom-slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 3;
}

.bmecom-slider-arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmecom-slider-arrows.bmecom-slider-arrows--circle .bmecom-slider-arrow {
    border-radius: 50%;
}

.bmecom-slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}

.bmecom-slider-dot {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bmecom-slider-dot.active {
    background: white;
}

/* Animations */
.animation-fade .bmecom-slide,
.animation-zoom .bmecom-slide {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.animation-fade .bmecom-slide.active,
.animation-zoom .bmecom-slide.active {
    opacity: 1;
    position: relative;
    z-index: 2;
}

.animation-zoom .bmecom-slide {
    transform: scale(1);
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
}

.animation-zoom .bmecom-slide.active {
    transform: scale(1.1);
}

.animation-slide .bmecom-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.animation-slide .bmecom-slide {
    flex: 0 0 100%;
    width: 100%;
}

.bmecom-slide-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bmecom-slide-content {
    position: absolute;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
}

.bmecom-slide-heading {
    font-size: 2em;
    margin-bottom: 0;
}

.bmecom-slide-description {
    font-size: 1em;
    margin-bottom: 0;
}

.bmecom-slide-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #337ab7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.bmecom-slide-button--full {
    width: 100%;
    text-align: center;
}

.bmecom-slide-button--inline {
    width: auto;
}
