.bmecom-slider-wrapper {
    position: relative;
    overflow: hidden;
}

.bmecom-slider {
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.bmecom-slide {
    width: 100%;
}


.bmecom-slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 3;
}

.bmecom-slider-arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

.bmecom-slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 3;
}

.bmecom-slider-dot {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.bmecom-slider-dot.active {
    background: white;
}

/* Animations */
/* 1. The Zoom Animation */
.bmecom-slider-wrapper.animation-zoom .bmecom-slide {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(1);
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
}

.bmecom-slider-wrapper.animation-zoom .bmecom-slide.active {
    opacity: 1;
    position: relative;
    z-index: 2;
    transform: scale(1.1);
}

/* 2. The Fade Animation */
.bmecom-slider-wrapper.animation-fade .bmecom-slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute; /* Ensure slides stack for the cross-fade */
    top: 0;
    left: 0;
    width: 100%;
}

.bmecom-slider-wrapper.animation-fade .bmecom-slide.active {
    opacity: 1;
    position: relative; /* The active slide maintains the container height */
    z-index: 2;
}

.animation-slide .bmecom-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.animation-slide .bmecom-slide {
    flex: 0 0 100%;
    width: 100%;
}
